.mainPunSct {
	margin: 0 auto;
	margin-top: 15px;
	padding-top: 40px;
	width: 1000px;
    position: relative;
    z-index: 10;
}
#bar {
    position: relative;
    z-index: 1;
}
.boderShadow {
    border: 1px solid rgba(0,112,163,0.18);
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,92,134,0.18);
    background-color: #fff;
}
.mainPunBar {
    padding: 15px 0;
    height: 80px;
}
.mainPunBar.boderShadow {
    position: relative;
    padding-left: 145px;
    height: 100px;
    box-sizing: border-box;
}
.mainPunNum {
    position: absolute;
    top: 15px;
    left: 0;
    width: 145px;
    height: 67px;
    border-right: 1px solid #c9c9c9;
    box-sizing: border-box;
    text-align: center;
}
.color4d9ce4 {
    color: #0098dd;
}
.mainPunNum strong {
    display: inline-block;
    width: 40px;
    height: 100%;
    font-size: 30px;
    line-height: 48px;
    font-family: helvetica;
    font-weight: normal;
    vertical-align: bottom;
}
.mainPunNum span {
    height: 84px;
    font-size: 14px;
    font-family: '黑体';
    line-height: 87px;
    display: inline-block;
    vertical-align: bottom;
    color: #5d5d5d;
}
.yearPar {
    display: none;
    height: 67px;
}
.monthPar {
    display: inline-block;
    height: 67px;
}
.intervalBar {
    padding: 36px 60px 28px 38px;
    padding-top: 32px;
    padding-bottom: 24px;
    height: 9px;
}
.magn {
    position: absolute;
    top: 11px;
    right: 11px;
    padding: 7px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #E9E9E9;
    display: none;
}
.showMagn .magn, .max .magn .max, .min .magn .min {
    display: inline;
    vertical-align: top;
}
.magn img {
    width: 14px;
    display: none;
}
.magnHint, .numHint {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.numHint {
    /* left: 130px; */
    top: 15px;
    width: 132px;
    color: #0098DD;
    text-align: center;
    font-size: 12px;
}
.choseBarCont {
    position: relative;
    width: 100%;
    height: 100%;
}
.choseColorBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.choseColorBar:after {
    content: "";
    display: block;
    clear: both;
}
.dashedRange {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 20px;
}
.dashedRange.leftDashedRange {
    left: -20px;
    background: url(img/admin/dashedLeft.png) 0 center repeat-x #fff;
}
.dashedRange.rightDashedRange {
    right: -20px;
    background: url(img/admin/dashedRight.png) 0 center repeat-x #fff;
}
.min .dashedRange {
    display: inline;
}
.blueBar, .pinkBar {
    float: left;
    height: 100%;
    width: 33.33%;
    border-radius: 5px;
}
.blueBar {
    position: relative;
    background-color: #A5E3FF;
}
.pinkBar {
    position: relative;
    background-color: #F7B9BE;
}
.grayBar {
    position: relative;
    width: 100px;
    height: 100%;
    background-color: #fff;
    z-index: 10;
}
.grayBar:after {
    content: "";
    display: block;
    margin-top: 3px;
    width: 100%;
    height: 3px;
    background-color: #C9C9C9;
}
.leftGrayBar {
    float: left;
}
.rightGrayBar {
    float: right;
}
.choseBtn {
    top: -13px;
    left: -11px;
    width: 6px;
    border-radius: 5px;
    height: 24px;
    border: 2px solid #cfe4f8;
    background-color: #fff;
    text-align: center;
    z-index: 20;
    cursor: pointer;
}
.leftGrayBar .choseBtn {
    position: absolute;
    right: -5px;
    left: auto;
}
.rightGrayBar .choseBtn {
    position: absolute;
    left: -5px;
    right: auto;
}
.grayBar .choseBtn {
    top: -10px;
}
.choseBtn em {
    position: absolute;
    width: 66px;
    height: 24px;
    top: -29px;
    left: -17px;
    font-size: 14px;
    font-style: normal;
}
.grayBar .choseBtn em {
    left: -26px;
}
.intervalBar .choseBtn em {
    top: -24px;
    left: -30px;
    height: 19px;
    font-size: 12px;
}
.choseBtn em i {
    font-style: normal;
}
.pointBtn.choseBtn {
    position: absolute;
    margin-left: -10px;
    top: -6px;
    right: 0;
    left: 300px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.monthNums {
    position: absolute;
    top: 23px;
    left: 0;
    width: 100%;
}
.monthNums span {
    position: absolute;
    font-size: 12px;
}
.monthFirst {
    left: 0;
    text-align: left;
}
.monthSecond {
    left: 50%;
    margin-left: -30px;
    text-align: center;
}
.monthThird {
    right: 0;
    text-align: right;
}
.magnHint {
    top: 12px;
    left: 200px;
    padding: 0 10px;
    height: 38px;
    width: 112px;
    line-height: 38px;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    background-color: #fff;
    z-index: 30;
}
.magnHint mark {
    position: absolute;
    bottom: -4px;
    left: 50%;
    border: solid 4px #fff;
    transform: rotate(45deg);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    background-color: #fff;
    z-index: 0;
}
.magnHint div {
    position: relative;
    height: 38px;
    background-color: #fff;
    z-index: 1;
}
.magnHint .max {
    margin: 0 8px;
    color: #0098DD;
    cursor: pointer;
}